<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tạo sản phẩm mới</title>
</head>
<body>
  <h1>Tạo sản phẩm mới</h1>
  <form action="/products" method="post">
    <label for="productcode">Mã sản phẩm:</label>
    <input type="text" id="productcode" name="productcode">
    <br>
    <label for="productname">Tên sản phẩm:</label>
    <input type="text" id="productname" name="productname">
    <br>
    <label for="productDate">Ngày sản xuất:</label>
    <input type="date" id="productDate" name="productDate">
    <br>
    <label for="productPrice">Giá sản phẩm:</label>
    <input type="number" id="productPrice" name="productPrice">
    <br>
    <label for="productStorecode">Mã cửa hàng:</label>
    <input type="text" id="productStorecode" name="productStorecode">
    <br>
    <button type="submit">Tạo</button>
  </form>
</body>
</html>